<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="/css/about.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="icon" href="images/favicon.ico"/>
		<title>About Us</title>
	</head>

<body>

	<div class="topnavs">
		<a href="/">Home</a>
		<a href="/meetups">Meet Ups</a>
		<a href="https://github.com/CS4800-Team-MAKER/ChatTest">GitHub</a>
		<a href="/about">About Us</a>
		<a href="https://docs.google.com/presentation/d/1QrJQcd8bTNokikVI27NCgqzTkAspKn0uk7QUiuAzXak/edit?usp=sharing">Presentation</a>
		
		<div class="topnavs-right">
				<a href="/login">Log-In</a>
		</div>
		<div class="topnavs-right">
			<img src="https://www.cpp.edu/common/resources/img/billy_bronco_top10.png" height=42 width=42>
		</div>
	</div>

	<div class="jumbotron jumbotron-fluid bg-light">
		<div class="container">
			<div class="row">
				<div class="col">
			        <img src="images/svg/people-speech-bubbles.svg">
				</div>
				<div class="col">
					<h1 class="display-1 text-center">TEAM<br>MAKER</h1>
				</div>
				<div class="col">
					<img src="images/svg/emoticon-chat.svg" alt="">
				</div>
			</div>
		  
		  
		</div>
	</div>

	<div class="container">

		<center><h1 class="display-3">Our Mission</h1></center>
		<p class="lead text-center">
			For most freshmen and transfer students, it is easy to meet people, but it is difficult to find people with similar
			interest, especially in a commuter school.  Cal Poly Pomona is considered a commuter school, which means students leave
			campus after they are finish with classes. Bronco Chat changes that around. Bronco Chat was built to help students to
			find people with similar interest. Students no longer have to struggle making friends. They can easily login into Bronco
			Chat and make friends in a click away!
		</p>

		<br>
		<h1>Members</h1>
		<br>

		<hr class="featurette-divider">
		<div class="row featurette">
			<div class="col-md order-md-2">
				<h2 class="featurette-heading">
					Min Park
					<span class="text-muted">Front End</span>
					<a class="github-button" href="https://github.com/yyhk123" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" aria-label="Follow @yyhk123 on GitHub">Follow @yyhk123</a>
				</h2>
				<p class="lead">
						
				</p>
			</div>
			<div class="col-md-5 order-md 1">
				<img src="images/min_github.png">
			</div>
		</div>
		<hr class="featurette-divider">
		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">
					Alan Trieu
					<span class="text-muted">Front End</span>
					<a class="github-button" href="https://github.com/alanptrieu" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" aria-label="Follow @alanptrieu on GitHub">Follow @alanptrieu</a>
				</h2>
				<p class="lead">
					
				</p>
			</div>
			<div class="col-md-5">
				<img src="images/alan_github.png">
			</div>
		</div>	
		<hr class="featurette-divider">
		<div class="row featurette">
			<div class="col-md order-md-2">
				<h2 class="featurette-heading">
					Kevin Lu
					<span class="text-muted">Back End</span>
					<a class="github-button" href="https://github.com/klu91748" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" aria-label="Follow @klu91748 on GitHub">Follow @klu91748</a>
				</h2>
				<p class="lead">
					
				</p>
			</div>
			<div class="col-md-5 order-md 1">
				<img src="images/kevin_github.png">
			</div>
		</div>
		<hr class="featurette-divider">
		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">
					Eric Ramirez
					<span class="text-muted">Back End/Datebase</span>
					<a class="github-button" href="https://github.com/fernet24" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" aria-label="Follow @fernet24 on GitHub">Follow @fernet24</a>
				</h2>
				<p class="lead">
					
				</p>
			</div>
			<div class="col-md-5">
				<img src="images/eric_github.jpg">
			</div>
		</div>
		<hr class="featurette-divider">
		<div class="row featurette">
			<div class="col-md order-md-2">
				<h2 class="featurette-heading">
					Roberto Ramirez
					<span class="text-muted">Front End</span>
					<a class="github-button" href="https://github.com/RamirezR" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" aria-label="Follow @RamirezR on GitHub">Follow @RamirezR</a>
				</h2>
				<p class="lead">
					
				</p>
			</div>
			<div class="col-md-5 order-md 1">
				<img class="img-fluid" src="images/rob_github.jpg">
			</div>
		</div>
		<hr class="featurette-divider">

		<footer class="container">
			<br>
			<br>
		</footer>

	
	</div>

<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
