<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="/css/discover.css" />
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>Discover</title>
	</head>
	<body>

	<div class="topnavs">
	  <a href="/">Home</a>
	  <a href="/meetups">Meet Ups</a>
	  <a href="/discover">Discover</a>
	  <a href="https://github.com/CS4800-Team-MAKER/ChatTest">GitHub</a>
	  <a href="/about">About Us</a>
	  <a href="https://docs.google.com/presentation/d/16hoy5OqIleoWL_yokoEcL4HXPscrsbv71Asb41t1P8o/edit?usp=sharing">Presentation</a>
	
	<div class="topnav-right">
			<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
		</div>
	</div>
	
	<form action="/action_page.php">
	  <input type="file" name="pic" accept="image/*">
	  <input type="submit">
	</form>

</body>
</html>